/*
 STRUCTURE POUR UNE COLONNE, MENU EN BAS EN DEUX PARTIES, LARGEUR FIXE


 --------------------------------------------------------------
  AVANT TOUTE CHOSE
  remise à zéro de toutes les marges des grands blocs pour que
  tous les navigateurs calculent depuis le même point de départ
--------------------------------------------------------------- */

html,
body,
#page,
#top,
#prelude,
#wrapper,
#footer,
#main,
#content,
#sidebar,
#blognav,
#blogextra {
  margin: 0;
  padding: 0;
}

/* --------------------------------------------------------------
  CENTRAGE DE LA PAGE DANS LA FENETRE DU NAVIGATEUR.
  (supprimer ces lignes si on ne veut pas centrer)
  Note : on peut remplacer la valeur (ici 0) des marges au-dessus
  et en dessous de la page par la valeur de son choix (px ou em).
--------------------------------------------------------------- */

body {
  text-align: center;
}

#page {
  margin: 0 auto;
  text-align: start;
  position: relative;
}

/* -------------------------------------------------------------
  STRUCTURE FIXE - 1 COLONNE - MENU EN BAS EN DEUX PARTIES
  Vous pouvez modifier 760px par la valeur de votre choix.
--------------------------------------------------------------- */

#page {
  inline-size: 100%;
  /* 760px; */
  max-inline-size: 1600px;
}

#top {
  block-size: 100px;
  /* a modifier par la valeur de votre choix */
}

#top h1 {
  margin: 0;
  padding: 0;
  block-size: 100px;
  /* idem que pour #top */
  inline-size: 100%;
}

#top h1 a {
  display: block;
  inline-size: 100%;
  block-size: 100px;
}

#prelude {
  display: block;
  position: absolute;
  inset-inline-end: 2em;
  inset-block-start: 0;
  text-align: end;
  block-size: 150px;
}

#wrapper {
  padding: 30px;
}

.dc-home #wrapper {
  text-align: center;
}

#main {
  inline-size: 100%;
  /* 760px; */
  margin: auto;
  text-align: start;
}

#content {
  margin-block-start: 0;
  margin-block-end: 1.5em;
  margin-inline: 1.5em;
}

#content-text {
  inline-size: 46%;
  float: inline-end;
  padding-inline-start: 1em;
  margin-block-start: 50px;
  margin-block-end: 25px;
}

#content-img {
  inline-size: 46%;
  float: inline-start;
  padding-inline-end: 1em;
}

#footer {
  clear: both;
  text-align: center;
  margin-block-start: 30px;
  margin-block-end: 0;
  margin-inline: 0;
  padding: 15px;
}

#sidebar {
  clear: both;
  text-align: start;
  inline-size: 46%;
}

.dc-home #sidebar {
  inline-size: auto;
}

#sidebar ul {
}

#sidebar li {
}

#blognav {
  margin-block-start: 50px;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 50px;
  padding-inline-end: 20px;
}

#blogextra {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 50px;
  padding-inline-end: 20px;
}

.dc-home #blognav {
  margin: 30px 0;
  padding: 20px;
  inline-size: 40%;
  float: inline-start;
}

.dc-home #blogextra {
  margin: 30px 0;
  padding: 20px;
  inline-size: 40%;
  float: inline-end;
}
